---
layout: doc
---

<div class="cs-doc-nav">
  <ul >
    <li>
      <a href="<%= base_url %>/doc/#icones">Icones</a>
    </li>
    <li>
      <a href="<%= base_url %>/doc/#botoes">Botões</a>
    </li>
    <li>
      <a href="<%= base_url %>/doc/#select">Select</a>
    </li>
    <li>
      <a href="<%= base_url %>/doc/#dropdown">Dropdown</a>
    </li>

    <li>
      <a href="<%= base_url %>/doc/#prefix">Prefixo e sufixo em inputs</a>
    </li>
  </ul>
</div>

<div class="cs-doc-elements">

  <h1 class="title">Yata Guide</h1>

  <%= partial 'partials/doc/colors' %>

  <br>
  <br>
  <br>
  <hr>

  <%= partial 'partials/doc/select' %>

  <hr>

  <%= partial 'partials/doc/prefix-sufix' %>

  <hr>

  
  <%= partial 'partials/doc/buttons' %>
  
  <hr>

  <%= partial 'partials/doc/icons' %>
  


</div>

